.dialog-pane {
    -fx-background-color: #F0EAD6;
}

.dialog-pane .button{
    -fx-background-color: #E1B545;
    -fx-border-style: solid;
    -fx-border-radius: 50px;
    -fx-border-width: 3px;
    -fx-background-radius: 50px;
    -fx-min-width: 215.5px;
    -fx-min-height: 50.5px;
    -fx-font-size: 20px;
}
.dialog-pane .header-panel{
    -fx-background-color: #F0EAD6;
    -fx-alignment: center;
}
.dialog-pane .header-panel .label{
    -fx-font-family: 'Karla';
    -fx-text-color: #252422;
    -fx-font-style: italic;
    -fx-font-size: 30px;
    -fx-text-alignment: center;
}

.dialog-pane .button:hover{
    -fx-background-color: #dba724;
}