/*
    Description:
    This file is for the styling of the waiting room screen.
*/

/* @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap'); */

.text {
    /* -fx-font-family: Karla; TODO: find a way to import the font, does not work right now*/
    -fx-text-color: #252422;
    -fx-font-style: italic;
}

#speech-bubble-text {
    -fx-font-size: 43px;
}

#title-1 {
    -fx-font-size: 96px;
}

#title-2 {
    -fx-font-size: 49px;
}

#title-3 {
    -fx-font-size: 35px;
}

#players-text {
    -fx-font-size: 35px;
}

#playerList {
    -fx-font-size: 35px;
}

#playerList .list-cell:even {
    -fx-background-color: #D8D2C0;
}

#playerList .list-cell:odd {
    -fx-background-color: #C0BBAB;
}

#playerList .scroll-bar:vertical .increment-arrow,
#playerList .scroll-bar:vertical .decrement-arrow {
    -fx-opacity: 0;
}

#playerList .scroll-bar:vertical .track-background {
    -fx-background-color: #C0BBAB;
    -fx-opacity: 0.75;
}

#playerList .scroll-bar:vertical .track {
    -fx-background-color: #C0BBAB;
    -fx-opacity: 0.75;
}

#playerList .scroll-bar:vertical .thumb {
    -fx-background-color: #605D55;
}